---
layout: landing-page
onepage: true
video: true
permalink: /1-year-pdc/

members:
  - avatar: /assets/images/team/MarkGibson.jpeg
    name: Mark Gibson
    position: Founder & Director
    socials:
      - link: https://www.instagram.com/mark_gibson67/
        icon: instagram
      - link: https://flickr.com/people/mark_gibson/
        icon: flickr
    desc:
      "The founder and Managing Director of Aerial Edge. Mark specialises in teaching and performing static trapeze, cradle, acrobalance and doubles trapeze. Mark studied at The Circus Space in London and teaches and performs internationally"
  - avatar: /assets/images/@stock/member-9.png
    name: Sam McFarlane
    position: Acrobatics
    socials:
      - link: http://twitter.com
        icon: twitter
      - link: http://facebook.com
        icon: facebook
      - link: http://dribbble.com
        icon: web
    desc:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
  - avatar: /assets/images/@stock/member-8.png
    name: Gabriel Stella
    position: Flying Trapeze
    socials:
      - link: http://twitter.com
        icon: twitter
      - link: http://facebook.com
        icon: facebook
      - link: http://tumblr.com
        icon: tumblr
    desc:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
  - avatar: /assets/images/@stock/member-4-4.png
    name: Nea Kunnari
    position: Silks & Rope
    socials:
      - link: http://twitter.com
        icon: twitter
      - link: http://facebook.com
        icon: facebook
    desc:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."

members2:
  - avatar: /assets/images/@stock/member-7.png
    name: Chrissie Ardill
    position: Aerial Hoop
    socials:
      - link: http://twitter.com
        icon: twitter
      - link: http://facebook.com
        icon: facebook
    desc:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
  - avatar: /assets/images/@stock/member-9.png
    name: Michelle Ross
    position: Chinese Pole
    socials:
      - link: http://twitter.com
        icon: twitter
      - link: http://facebook.com
        icon: facebook
      - link: http://dribbble.com
        icon: dribbble
    desc:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
  - avatar: /assets/images/@stock/member-8.png
    name: Ed Muir
    position: Aerial Straps
    socials:
      - link: http://twitter.com
        icon: twitter
      - link: http://facebook.com
        icon: facebook
      - link: http://tumblr.com
        icon: tumblr
    desc:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
  - avatar: /assets/images/@stock/member-4-4.png
    name: Yara Fares
    position: Flow Arts
    socials:
      - link: http://twitter.com
        icon: twitter
      - link: http://facebook.com
        icon: facebook
    desc:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."

team_slides:
  - /assets/images/@stock/slide-full-1.jpg
  - /assets/images/@stock/slide-full-8.jpg
  - /assets/images/@stock/slide-full-10.jpg
  - /assets/images/@stock/slide-full-11.jpg
  - /assets/images/@stock/slide-full-8.jpg


testimonials:
  - quote: "Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est."
    author: 
      name: "David White"
      avatar: '/assets/images/@stock/author-avatar-1.png'
      position: 'Zoologist'
  - quote: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing."
    author: 
      name: "David White"
      avatar: '/assets/images/@stock/author-avatar-2.png'
      position: 'Company Director'
  - quote: "Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est."
    author: 
      name: "David White"
      avatar: '/assets/images/@stock/author-avatar-3.png'
      position: 'Physical Therapist'
---

<iframe
  src="https://api.aerialedge.co.uk/widget/form/ycKl2fLSIemr2WweQRMv"
  style="display:none;width:100%;height:100%;border:none;border-radius:4px"
  id="polite-slide-in-right-ycKl2fLSIemr2WweQRMv" 
  data-layout="{'id':'POLITE_SLIDE_IN','minimizedTitle':'','isLeftAligned':false,'isRightAligned':true,'allowMinimize':true}"
  data-trigger-type="showOnScrolling"
  data-trigger-value="40"
  data-activation-type="alwaysActivated"
  data-activation-value=""
  data-deactivation-type="leadCollected"
  data-deactivation-value=""
  data-form-name="Info Request PDC"
  data-height="402"
  data-layout-iframe-id="polite-slide-in-right-ycKl2fLSIemr2WweQRMv"
  data-form-id="ycKl2fLSIemr2WweQRMv"
  title="Info Request PDC"
      >
</iframe>
<script src="https://api.aerialedge.co.uk/js/form_embed.js"></script>

<div class='full no-padding parallax home-video-wrapper'>
  <div class='fullscreen'>
    <video muted autoplay='autoplay' playsinline id='fullscreen-video' loop='loop'>
      <source src='{{ "/assets/images/videos/Prospectus-ProTrack.mp4" | relative_url }}' type='video/mp4'>
    </video>
    <!-- <video id="fullscreen-video" class="video-js vjs-default-skin vjs-big-play-centered" controls
      preload="auto" data-setup='{}'>
      <source src="/assets/images/@stock/circus-hero.mp4" type='video/mp4'>
    </video> -->
    <div class='overlay'></div>
    <div class='layer'>
      <p class="small-title">Glasgow's circus school </p>
      <h1 class='thin' id="to-be-update">
         <span class="fir">1 Year Professional Development Course in Circus Arts</span><br/>

      </h1>

      <div class="two spacing"></div>
          
      <h2 class='thin'>
       Got circus skills? Want to develop to pro level? This course hones technique in your chosen arts, upgrades everything else including performance, introduces essential documentation AND you get a pro showreel! Runs 10am-5pm Monday to Thursday, starting in September. Fridays? Use them for self-training, or to work.
      </h2>
  </div>
</div>
</div>



<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      <div class="section-title">
        <p class="small-title">1-year Professional Development Course</p>
        <h2>
          Your Programme
        </h2>
        <p class="big-size"> Turn your circus skills and talent into your career </p>
      </div>
      <div class="two spacing"></div>
      <div class='mod modBlogPost big no_bg'>
        <p>On this course, you focus on your preferred arts from the get-go, instead of learning a broad range of disciplines in the early stages. But you still get to train other arts too.</p>
        <p>First, you hone technique in your chosen disciplines then you spend a full term preparing an ensemble show with a professional Artistic Director. In Term Three, you focus on creating a solo act and understanding how to rig it safely, along with processes for becoming a professional performer.</p>
        <p>And of course you’ll have a fabulous professional show reel that you can use to apply for work and funding.</p>
        <p>Like our other programmes, you get the benefit of our decades of expertise in circus arts and educational development.</p>
      </div>
    </div>
  </div>
</div>




<div class='full dark no-padding '>
  <div class="four spacing"></div>
  <div class='row'>
    <div class='large-12 columns large-centered'>
      <h3 class="white" align="center">What disciplines could you learn on the course?</h3>

    <div class='medium-4 columns'>
      <ul>
        <li>Static Trapeze</li>
        <li>Rope</li>
        <li>Silks</li>
        <li>Aerial hoop</li>
        <li>Flying Trapeze</li>
        <li>Straps</li>
        
        
      </ul>
    </div>
    <div class='medium-4 columns'>
      <ul>
        <li>Acrobatics</li>
        <li>Acrobatic balancing</li>
        <li>Handstands</li>
        <li>Dance Acro</li>
        <li>Trampoline</li>
        <li>Flow arts</li>
        <li>Teeterboard</li>
      </ul>
    </div>
    <div class='medium-4 columns'>
      <ul>
        <li>Acro & Aerial Conditioning</li>
        <li>Flexibility</li>
        <li>Self-physiotherapy</li>
        <li>Circus Performance practice</li>
        <li>Rigging & Safety</li>
        <li>Act Creation</li>
      </ul>
    </div>      
  </div>
</div>
<div class='four spacing'></div>
</div>



<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html title="Your Journey" %}
    </div>
  </div>
</div>

<div class='full no-padding'>
  <div class='row'>
    <div class='large-6 columns'>
      <img src="/assets/images/shows/m-y1.jpeg">
      
    </div>


    <div class='large-6 columns'>
      <h3>Making your skills work</h3>
        <p>Our approach is always to start where you are, and build from there. For this course, your starting place will need to be further along the road than beginner status. If you don’t already have circus skills, you can quickly gain the entry requirements on one of our other programmes.
        </p>
        
        <p>On this course, you learn a lot more than circus skills. You go big on how to perform, and the process of putting an act together in a group setting and as a solo or duo. You also learn how to ensure you have safe rigging, and what you need to do to you get work.
        </p>
        <p>The course has been designed to meet the needs of graduates of our Foundation Course who wanted to carry on learning in a friendly and supportive environment that challenges and develops them.
        </p>
        <p>It’s also great for you if:</p>
        <ul>
          <li>You can put a routine together and want to transform that into a fully fledged act</li>
          <li>You want to improve your technique or to gain performance capability</li>
          <li>You want to do a degree course and want a bridge between your current level and that stage</li>
        </ul>
         <div class='two spacing'></div>
         <p>Photo credit: Max Crawford</p>
    </div>
    <div class='four spacing'></div>
  </div>
</div>
<div class='four spacing'></div>



<!--

<a id='works'></a>
<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="take a look" title="Our classes & courses" %}
      <p class="big-size">Welcome to the fun side of life! Aerial Edge is an exciting and safe environment for you to explore a whole world of upside-down joy as you learn some very cool aerial and acrobatic skills. Check out each of the sections below for more details</p>

    </div>
  </div>
</div>


<div class='full no-padding' id="demo-1-works">
  <div class='mod modMasonryGallery'>
    <ul class='gallery'>

      {% for item in page.works %}

        {% assign work = site.works | where:"path",item.path | first %}

        {% if item.style == 'wide' %}
          {% assign class = 'wide' %}
          {% assign width = 1000 %}
          {% assign height = 350 %}
        {% else %}
          {% assign class = '' %}
          {% assign width = 500 %}
          {% assign height = 350 %}
        {% endif %}

        <li class="{{class}}">
          <a href='{{ work.url | relative_url }}'>
            <img width="{{width}}" height="{{height}}" alt="" src="{{ work.thumbnail | relative_url }}" />
            <div class='overlay'>
              <div class='thumb-info'>
                <h3>{{ work.title | downcase | capitalize }}</h3>
                <p>{{ work.categories | join:" & " | escape }}</p>
              </div>
            </div>
          </a>
        </li>

      {% endfor %}

    </ul>
  </div>
</div>

-->

<!--

<a id='vouchers'></a>
<div class='full no-padding'>
  <div class="four spacing"></div>
  <div class='row'>
    <div class='large-6 columns'>
      <div class="section-title">
        <h3>
          Gift Vouchers
        </h3>
        <p class="big-size">Give someone the gift of circus with one of our gift vouchers </p>
        
        <img src="{{ "/assets/images/Gift-Voucher.jpg" | relative_url }}" alt="">
      <div class='two spacing'></div>
      <p>
        <a class='button small' href='https://giftup.app/place-order/1eb2d8cf-004a-4a6a-9cb2-627691bf741e?platform=hosted' target='_blank'>Buy a Voucher</a>
        </div>
      </p>
</div>
<div class='large-6 columns'>
      <div class="section-title">
        <h3>
          Aerial Edge Hoodie
        </h3>
        <p class="big-size">Keep someone warm with one of our cozy hoodies </p>
        
        <img src="{{ "/assets/images/Hoodie1.jpg" | relative_url }}" alt="">
      <div class='two spacing'></div>
      <p>
        <a class='button small' href='https://aerialedge.myshopify.com' target='_blank'>Buy a Hoodie</a>
        </div>
      </p>
    </div>
  </div>
</div>

-->


<div class='full no-padding parallax home-video-wrapper'>
  <div class='fullscreen'>
    <video muted autoplay='autoplay' playsinline id='fullscreen-video' loop='loop'>
      <source src='{{ "/assets/images/videos/Prospectus-FC03.mp4" | relative_url }}' type='video/mp4'>
    </video>
    <div class='overlay'></div> 
      <div class='layer'>
      <p class="small-title">Entry Requirements</p>
  
      <h2 class='thin'>
       If you have pull-ups and leg lifts, and you can invert without jumping off the ground, we’d love to see some video showing examples of your work. You could come into the school to show us in person, if you prefer.
      </h2>
      <h2 class='thin'>
        If you can do all of the above and more, you’ve got what it takes!
      </h2>
      <h2 class='thin'>
        If you have some experience of physical activities, you can gain the entry requirements in a short space of time through programmes with us or other circus schools.  
      </h2>
      <h2 class='thin'>
        Options with us include intensive training in evening recreational classes plus self-training sessions, perhaps leading into our Pro Track Programme, our four-week full time Circus Intensive Course or our four-month Foundation Course.
      </h2>


      
    </div>
  </div>
</div>



<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html title="How does it work?" %}
    </div>
  </div>
</div>

<div class='full no-padding'>
  <div class='row'>
    <div class='large-6 columns'>
      <img src="/assets/images/BTLBraw-51.jpeg">
      <div class='two spacing'></div>
    </div>
    <div class='large-6 columns'>
      <ul>
        <li>
          <b>Term 1 (September to December):</b> The focus is on improving technique and physical conditioning, making sure that the fundamentals are excellent in your chosen arts, and that you know how your body works so that you can train safely to minimise the possibility of injuries.
        </li> 
        <li>
          <b>Term 2 (January to March):</b> Your technique will be further honed through the process of preparing for an ensemble performance at the end of this term, working with a professional Artistic Director. Tuition in act creation and choreography will expand your creative bandwidth.
        </li>
        <li>
          <b>Term 3 (April to June):</b> The focus will be on solo act creation in one or more arts which will lead to a cabaret performance at the end of the term.  
        </li>
      </ul>
        <p>Along the way you will learn about:</p>
        <ul>
          <li>Promoting yourself on social media and on the web</li>
          <li>Technical documentation which are needed for professional performances</li>
          <li>What to expect in the professional environment</li>
        </ul>
        <p>And at the end, you’ll have a gorgeous pro show reel captured by Gabriel Stella, our amazing in-house cinematographer.</p>

   
    </div>
    <div class='four spacing'></div>
  </div>
</div>
<div class='four spacing'></div>







<div class='full no-padding parallax home-video-wrapper'>
  <div class='fullscreen'>
    <video muted autoplay='autoplay' playsinline id='fullscreen-video' loop='loop'>
      <source src='{{ "/assets/images/videos/Prospectus-FC02.mp4" | relative_url }}' type='video/mp4'>
    </video>
    <!-- <video id="fullscreen-video" class="video-js vjs-default-skin vjs-big-play-centered" controls
      preload="auto" data-setup='{}'>
      <source src="/assets/images/@stock/circus-hero.mp4" type='video/mp4'>
    </video> -->
    <div class='overlay'></div> 
      <div class='layer'>
      <p class="small-title">Why Aerial Edge </p>
      
      <h2 class='thin'>
        
       We are the largest circus school in Scotland, established in 2007. As a non-profit Community Interest Company, our core principle is: circus for all regardless of age, size, shape, ability and other factors.   </h2> 
      <h2 class='thin'>
       If you’re just starting your circus journey, or if you’ve already got years of aerial or acrobatics behind you, we’ll make sure you see great progress, and you’ll gain strong foundational abilities in other arts too. 
      </h2>
      <h2 class='thin'>
      You’ll discover how our passion and speciality is developing people through circus – your gains go deeper than learning the arts. We’ll nurture you not just through the physical challenges as you grapple with the techniques, but other pieces of your progression puzzle that arise along the way. </h2>
      <h2 class='thin'>
      We have specialist knowledge to support you to make breakthroughs which have a positive impact on other aspects of your life.</h2>
      
    </div>
  </div>
</div>


<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html title="Our Facilities" %}
    </div>
  </div>
</div>

<div class='full no-padding'>
  <div class='row'>
    <div class='large-6 columns'>
      <p>Aerial Edge has its own warehouse building for training and performance. We’re well known for our flying trapeze and cradle rig, but there are other dedicated areas for ground-based and aerial disciplines. Our space is highly adaptable and able to accommodate nearly any circus discipline, and convert to a fantastic performance stage with a superb sound and lighting set-up.</p>
      <p>You can discover, learn and hone just about any aerial discipline on our rig, and we have safety lines for acrobatic training, teeterboard and tightwire.</p>
            
    </div>
    <div class='large-6 columns'>
      <img src="/assets/images/facilities1.png">
    </div>

    <div class='row'>
      <div class='large-6 columns'>
        <img src="/assets/images/facilities2.png">
      </div>
      <div class='large-6 columns'>
        Our matted floor and tumble track give you the ability to safely train anything from handstands to acrobatic dance and parkour.
        <p>As well as trampoline which can be used for anything from warm-up to wall-running, there’s an act creation and rehearsal space which can be rigged in multiple ways.</p>
        <p>And as if all of that isn’t enough, there’s a café reception area, we’re big into coffee at Aerial Edge so we take great delight in choosing speciality roasts for that fresh bean-to-cup buzz!</p>
        <p>There are also numerous cafés, restaurants and shops within just a few minutes’ walk.</p>
      </div>
    </div>
    <div class='four spacing'></div>
  </div>
</div>
<div class='four spacing'></div>


<!--
<div class='full dark no-padding '>
  <div class="four spacing"></div>
  <div class='row'>
    <div class='large-8 columns'>
      <h3 class="white">Meet our team</h3>
      <p>
        Our team of professional circus teachers will guide you through the course across a wide variety of disciplines
      </p>
    </div>
    <div class='large-4 columns'>

      <p>
        <a class='button small boxed' href='https://aerialedge.co.uk/our-team/' target='_blank'>Learn More</a>
      </p>
    </div>
        
  </div>
  <div class='two spacing'></div>
</div>
-->


<div class='full no-padding parallax home-video-wrapper'>
  <div class='fullscreen'>
    <video muted autoplay='autoplay' playsinline id='fullscreen-video' loop='loop'>
      <source src='{{ "/assets/images/videos/Prospectus-INT02.mp4" | relative_url }}' type='video/mp4'>
    </video>
    <!-- <video id="fullscreen-video" class="video-js vjs-default-skin vjs-big-play-centered" controls
      preload="auto" data-setup='{}'>
      <source src="/assets/images/@stock/circus-hero.mp4" type='video/mp4'>
    </video> -->
    <div class='overlay'></div> 
      <div class='layer'>
      <p class="small-title">What does it cost?</p>
      
      <h2 class='thin'>
       As a non-profit organisation, we price everything as low as possible. And you get incredible added value with your pro show reel. Great care and expertise has gone into our course planning, to ensure you get the best, personalised, experience and outcomes. 
       </h2>   
      <div class='two spacing'></div>
      <p class="small-title">Course Fees</p>
      <h2 class='thin'>
        £5,995 for the year. Course fees are payable in full or in three instalments: £250 deposit, then £3,000 six weeks before the course begins, and the £2,745 balance to be paid before starting.
      </h2>
      
      
    </div>
  </div>
</div>

<!--

<div class='full dark no-padding '>
  <div class="four spacing"></div>
  <div class='row'>
    <div class='large-12 columns'>
      <h3 class="white">Entry requirements</h3>
      <p>
        Candidates must be 16 or over and be available 10am-5pm Monday to Friday throughout the schedule.
      </p>
    </div>
    
        
  </div>
  <div class='two spacing'></div>
</div>

-->

<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html title="Logistics" %}
    </div>
  </div>
</div>

<div class='full no-padding'>
  <div class='row'>
    <div class='large-6 columns'>
      <img src="/assets/images/ae-map.png">
    </div>

    <div class='two spacing'></div>
    <div class='large-6 columns'>
      <h2>Location</h2>
      <p>Aerial Edge is conveniently close to Glasgow city centre, with two Subway stations nearby and on several bus routes.</p>
      <p>Glasgow is a vibrant, busy city which a has a thriving art scene, and many multi-disciplinary collaborations and exhibitions to be found. </p>
      <p>During August, you can take a short train ride to the Edinburgh Festival Fringe: the biggest arts festival in the world. As well as numerous small venues hosting circus acts, the festival has a dedicated Circus Hub where world-famous companies come to perform.</p>
      <h2>Accommodation</h2>
      <p>Accommodation is not part of the course package, visiting students typically find a place to stay through spareroom.com or AirBnB</p>
      <p>If you would like any further advice on Glasgow or relocating to the city, please get in touch to arrange a chat with our friendly team.</p>
    </div>
    <div class='four spacing'></div>
  </div>
</div>
<div class='four spacing'></div>



<!--

<div class='full dark no-padding '>
  <div class="four spacing"></div>
  <div class='row'>
    <div class='large-8 columns'>
      <h3 class="white">Taking care of your body</h3>
      <p>
        Ashley Taylor applies multiple manual therapies including deep tissue massage, myofascial & joint capsule release.
      </p>
    </div>
    
    

    <div class='large-4 columns'>
      <p>
        <a class='button small boxed' href='https://aerialedge.co.uk/services/2023/05/08/these-3-things-help-you-train-safe-&-smart.html' target='_blank'>Learn More</a>

        <a class='button small boxed' href='https://clientportal.powerdiary.com/clientportal/tmat?mc_cid=b044ed23a0&mc_eid=7829a400c2' target='_blank'>Book Therapy</a>
      </p>
    </div>
        
  </div>
  <div class='two spacing'></div>
</div>

-->

<!--
<a id='pricing'></a>
<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      <div class="section-title">
        <p class="small-title">Pricing</p>
        <h2>Class pricing</h2>
      </div>
    </div>
  </div>
</div>

<div class='full no-overflow no-padding'>
  <div class='main-services'>
    {% for item in page.services %}
      <div class='medium-6 large-3 columns'>
        {% include service.html service=item %}
      </div>
    {% endfor %}
  </div>
</div>

<div class='full dark no-padding '>
  <div class="four spacing"></div>
  <div class='row'>
    <div class='large-8 columns'>
      <h3 class="white">Training designed for you.</h3>
      <p>
        We can give you a personalised programme for your unique goals, abilities, time and budget. No charge. 
      </p>
    </div>
    
    
    <div class='large-4 columns'>
      <p>
        <a class='button small boxed' href='https://aerialedge.co.uk/portfolio/intensive-training/' target='_blank'>Learn More</a>
      </p>
    </div>
        
  </div>
  <div class='two spacing'></div>
</div>
-->

<!--
    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Free</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>10 users included</li>
              <li>2 GB of storage</li>
              <li>Email support</li>
              <li>Help center access</li>
            </ul>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Pro</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>20 users included</li>
              <li>10 GB of storage</li>
              <li>Priority email support</li>
              <li>Help center access</li>
            </ul>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Enterprise</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>30 users included</li>
              <li>15 GB of storage</li>
              <li>Phone and email support</li>
              <li>Help center access</li>
            </ul>
          </div>
        </div>
      </div>
-->

<!--
<a id='team'></a>
<div class='full dark-grey'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="The team" title="Hello! This is us." %}
    </div>
  </div>
</div>
<div class="full dark-grey no-padding">
  <div class="members">
    {% for member in page.members %}
      <div class="small-3 columns">
        <div class='member-avatar'>
          <img class="avatar" alt="" src="{{ member.avatar | relative_url }}" />
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<div class="full no-padding team-bg">
  <div class="div member-decs">
    {% for member in page.members %}
      <div class="large-3 columns">
        <div class='member-dec'>
          <div class='intro'>
            <h3>{{ member.name | escape }}</h3>
            <h4>{{ member.position | escape }}</h4>
            <p>{{ member.desc | escape }}</p>
            <ul class='socials'>
              {% for social in member.socials %}
                <li>
                  <a href='{{ social.link }}'>
                    <i class='fa fa-{{ social.icon }}'></i>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
 
</div>

<div class='full dark-grey'>
  <div class='row'>

  </div>
</div>
<div class="full dark-grey no-padding">
  <div class="members">
    {% for member in page.members2 %}
      <div class="small-3 columns">
        <div class='member-avatar'>
          <img class="avatar" alt="" src="{{ member.avatar | relative_url }}" />
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<div class="full no-padding team-bg">
  <div class="div member-decs">
    {% for member in page.members2 %}
      <div class="large-3 columns">
        <div class='member-dec'>
          <div class='intro'>
            <h3>{{ member.name | escape }}</h3>
            <h4>{{ member.position | escape }}</h4>
            <p>{{ member.desc | escape }}</p>
            <ul class='socials'>
              {% for social in member.socials %}
                <li>
                  <a href='{{ social.link }}'>
                    <i class='fa fa-{{ social.icon }}'></i>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="four spacing"></div>
</div>
-->

  
<div class="full no-overflow no-padding parallax" style="background-image: url({{ "/assets/images/FC082023.jpg" | relative_url }})">
  <div class="right-half">
    <div class="two spacing"></div>
    <div class="section-header alt white">
      <h2>What our students say</h2>
    </div>
    <p class="light">People love training at Aerial Edge – but don’t take our word for that. Watch the video below to see what other Foundation Course students got from their experiences with us.</p>

    <p>Watch the video below to learn more about our student's experiences</p>
    
    <iframe width="560" height="315" src="https://www.youtube.com/embed/7Dq9ZgUekn8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <div class="two spacing"></div>
    <a href="https://goteamup.com/p/3751555-aerial-edge/" target="_blank" class="button small">Apply now</a>
    <div class="three spacing"></div>
  </div>
</div>


<!--
<div class='full no-overflow no-padding parallax' style="background-image: url({{ "/assets/images/@stock/customers-bg.jpg" | relative_url }})">
  <div class="right-half">
    <div class="two spacing"></div>
    <div class="row">
      <div class="section-header alt white">
        <h2>What our students say</h2>
      </div>
      <div class='mod modTestimonials simple'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items'>
              {% for t in page.testimonials %}
                <div class='item'>
                  <p class='quote'>{{ t.quote }}</p>
                  <div class="two spacing"></div>
                  <div class='author'>
                    <p class='author-avatar'>
                      <img width="80" height="80" alt="" src="{{ t.author.avatar | relative_url }}" />
                    </p>
                    <p class='author-name'>
                      -
                      <strong>{{ t.author.name }}</strong>
                      {%- if t.author.position %}, {{ t.author.position }}{% endif %}
                    </p>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->


<!--

<div class="full no-padding">
  <div class='mod modBoxedSlider' data-timeout='1500'>
    <div class='slides'>
      {% for image in page.team_slides %}
        <div class='slide'>
          <img width="1200" height="800" alt="" src="{{ image | relative_url }}" />
        </div>
      {% endfor %}
    </div>
  </div>
</div>
-->

<a id='apply'></a>
<div class='full dark'>
  <div class='row'>
    <div class='large-12 columns large-centered'>
      {% include section-title.html small_title="apply" title="Apply Here" %}
    </div>
    <div class='four spacing'></div>
    <div class='large-12 medium-12 columns large-centered'>
 
        <div class='row'>
<div class='large-12 columns large-centered'>
  <p>The application to the 1-Year Professional Development Course is quick and easy. Simply fill in the form and sign up online. This form will take your details and take the deposit payment of £250.</p>
  <p>Feel free to contact us with any questions in advance</p>

<iframe
  src="https://api.aerialedge.co.uk/widget/form/4Vwsf6XinB8f3f4DNYm3"
  style="width:100%;height:100%;border:none;border-radius:3px"
  id="inline-4Vwsf6XinB8f3f4DNYm3" 
  data-layout="{'id':'INLINE'}"
  data-trigger-type="alwaysShow"
  data-trigger-value=""
  data-activation-type="alwaysActivated"
  data-activation-value=""
  data-deactivation-type="neverDeactivate"
  data-deactivation-value=""
  data-form-name="Application PDC"
  data-height="1533"
  data-layout-iframe-id="inline-4Vwsf6XinB8f3f4DNYm3"
  data-form-id="4Vwsf6XinB8f3f4DNYm3"
  title="Application PDC"
      >
</iframe>
<script src="https://api.aerialedge.co.uk/js/form_embed.js"></script>

<!--
    <iframe
      id="JotFormIFrame-240934227153049"
      title="Form"
      onload="window.parent.scrollTo(0,0)"
      allowtransparency="true"
      allow="geolocation; microphone; camera; fullscreen"
      src="https://form.jotform.com/240934227153049"
      frameborder="0"
      style="min-width:100%;max-width:100%;height:539px;border:none;"
      scrolling="no"
    >
    </iframe>
    <script src='https://form.jotform.com/s/umd/latest/for-form-embed-handler.js'></script>
    <script>window.jotformEmbedHandler("iframe[id='JotFormIFrame-240934227153049'", "https://form.jotform.com/")</script>
-->    
<!--
<a href="https://formkeep.com/p/094ae07aff981a441450c6f389589d5b" target="_blank" class="button small">Click here to submit your application</a>
-->

</div>

</div>
</div>
</div>
</div>
</div>


<!--

<a id='blog'></a>
<div class='full grey'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="latest posts" title="Articles" %}
    </div>
  </div>
</div>
<div class="full grey no-padding no-overflow">
  {% for post in site.posts limit:3 %}
    <div class='large-4 columns'>
      <div class='mod modBlogPost simple'>
        <div class='content'>
          <p class='date'>{{ post.date | date: "%B %d, %Y" }}</p>
          <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
          <div class='spacing'></div>
          <p>
            <a class='button boxed yellow tiny' href='{{ post.url | relative_url }}'>Read more</a>
          </p>
        </div>
      </div>
      <div class="four spacing"></div>
    </div>
  {% endfor %}
      
</div>

-->



<!--

<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="we are happy" title="Featured clients" %}
    </div>
  </div>
</div>
<div class="full no-padding">
  <div class="clients">
    <div class='row'>
      {% for client in page.clients %}
        <div class='large-3 medium-6 small-6 columns'>
          <div class="client">
            <a href="javascript:void(0)"><img alt="" src="{{ client | relative_url }}" /></a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="four spacing"></div>
</div>
-->


<!--

{% include social-networks.html %}
-->
