---
layout: default
onepage: true
video: true
services:
  - title: Circus fitness
    icon: fa fa-heart
    desc1: £6.25 (8-class pass)
    desc2: £7 (4-class pass)
    desc3: £7 (drop-in)
    
  - title: Aerial
    icon: fa  fa-arrow-up
    desc1: £15.63 (8-class pass) 
    desc2: £20 (4-class pass)
    desc3: £25 (drop-in)
    
  - title: Acro & ground
    icon: fa  fa-arrow-down
    desc1: £12.50 (8-class pass) 
    desc2: £17.50 (4-class pass)
    desc3: £20 (drop-in)
    
  
works:
  - path: _works/circus-fitness.md
  - path: _works/circus-conditioning.md
  - path: _works/youth-circus.md
    style: wide
  - path: _works/aerial-arts.md
  - path: _works/acrobatic-arts.md 
  - path: _works/parties-&-private-lessons.md  
  - path: _works/circus-cinematography.md
  - path: _works/intensive-training.md
    style: wide

members:
  - avatar: /assets/images/@stock/member-7.png
    name: Mark Gibson
    position: Founder
    socials:
      - link: http://twitter.com
        icon: twitter
      - link: http://facebook.com
        icon: facebook
    desc:
      "As the founder and Managing Director of Aerial Edge, and as a circus teacher, he knows that user- centred and easy-to-use design is an essential way to distinguish a good product and an awesome product."
  - avatar: /assets/images/@stock/member-9.png
    name: Mark Wayne
    position: Student Support
    socials:
      - link: http://twitter.com
        icon: twitter
      - link: http://facebook.com
        icon: facebook
      - link: http://dribbble.com
        icon: dribbble
    desc:
      "Mark started designing web sites back in 1992. Since then, he has worked for a wide range of digital agencies in the UK and America. At Wrap, Mark’s role means solving all kinds of visual design problems."
  - avatar: /assets/images/@stock/member-8.png
    name: Clare Watson
    position: Front-end Developer
    socials:
      - link: http://twitter.com
        icon: twitter
      - link: http://facebook.com
        icon: facebook
      - link: http://tumblr.com
        icon: tumblr
    desc:
      "Clare is a senior front-end developer here at Wrap, specialises in building blocks of the web: HTML, CSS, and JavaScript. She has almost ten years experiencs in the front-end development."
  - avatar: /assets/images/@stock/member-4-4.png
    name: Jone Bucan
    position: Senior Designer
    socials:
      - link: http://twitter.com
        icon: twitter
      - link: http://facebook.com
        icon: facebook
    desc:
      "Jone started designing web sites back in 1992. Since then, he has worked for a wide range of digital agencies in the UK and America. At Wrap, Jone’s role means solving all kinds of visual design problems."

team_slides:
  - /assets/images/@stock/slide-fly-catch.jpg
  - /assets/images/@stock/slide-circus-workshop.jpg
  - /assets/images/@stock/slide-youth-hoop.jpg
  - /assets/images/@stock/slide-esther-doubles.jpg
  - /assets/images/@stock/slide-rope-beat.jpg


testimonials:
  - quote: "Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est."
    author: 
      name: "David White"
      avatar: '/assets/images/@stock/author-avatar-1.png'
      position: 'Designer at Huglab'
  - quote: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing."
    author: 
      name: "David White"
      avatar: '/assets/images/@stock/author-avatar-2.png'
      position: 'Designer at Huglab'
  - quote: "Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est."
    author: 
      name: "David White"
      avatar: '/assets/images/@stock/author-avatar-3.png'
      position: 'Designer at Huglab'

clients:
  - /assets/images/@stock/client-1.png
  - /assets/images/@stock/client-2.png
  - /assets/images/@stock/client-3.png
  - /assets/images/@stock/client-4.png

  - /assets/images/@stock/client-5.png
  - /assets/images/@stock/client-6.png  
  - /assets/images/@stock/client-7.png    
  - /assets/images/@stock/client-2.png
  
  - /assets/images/@stock/client-3.png
  - /assets/images/@stock/client-4.png  
  - /assets/images/@stock/client-1.png   
  - /assets/images/@stock/client-6.png 
---

<div class='full no-padding parallax home-video-wrapper'>
  <div class='fullscreen'>
    <video muted autoplay='autoplay' playsinline id='fullscreen-video' loop='loop'>
      <source src='{{ "/assets/images/@stock/Hero2.mp4" | relative_url }}' type='video/mp4'>
    </video>
    <!-- <video id="fullscreen-video" class="video-js vjs-default-skin vjs-big-play-centered" controls
      preload="auto" data-setup='{}'>
      <source src="/assets/images/@stock/circus-hero.mp4" type='video/mp4'>
    </video> -->
    <div class='overlay'></div>
    <div class='layer'>
      <p class="small-title">Glasgow's circus school </p>
      <h1 class='thin' id="to-be-update">
         <span class="fir">Circus fitness</span><br/>
         <span class="sec">Circus training</span><br/>
         <span class="thir">Circus arts</span>
      </h1>
      <h2 class='thin'>
        <a href=https://goteamup.com/p/3751555-aerial-edge/>Book now</a>
       places still available for youth circus.   
      <h2 class='thin'>
       Aerial Edge is Glasgow's circus school, founded in 2007 and a community interest company dedicated to developing people through circus. We have classes for all ages and abilities, youth and adult classes, recreational and professional training. 
       {% assign nav_obj = site.data.nav | where:'section_id','contact' | first %}
        <a href='{{ "index.html" | append:nav_obj.path | relative_url }}'>Sign up for our newsletter</a>
      </h2>
      <div class="two spacing"></div>
      <a href="https://goteamup.com/p/3751555-aerial-edge/" target="_blank" class="button small">Book a class</a>
    </div>
  </div>
</div>


<a id='about'></a>
<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      <div class="section-title">
        <p class="small-title">Developing people</p>
        <h2>
          Developing people through circus is what we do best.
        </h2>
        <p class="big-size">We start where you are now and build from there. This is something anyone can do, regardless of age, body type, experience or other factors. Circus is for everybody, and we find that along with learning circus skills, people learn a lot about themselves too. </p>
        <div class="four spacing"></div>
        <img src="{{ "/assets/images/AELogoGreyBadge-sm.png" | relative_url }}" alt="">
      </div>
    </div>
    <div class="four spacing"></div>
  </div>
</div>

<div class="full no-overflow no-padding parallax" style="background-image: url({{ "/assets/images/@stock/trapteach1.jpg" | relative_url }})">
  <div class="right-half">
    <div class="two spacing"></div>
    <div class="section-header alt white">
      <h2>How we work</h2>
    </div>
    <p class="light">Whether you want to drop in for a single class or join one of our programmes, we have something for you. If you don't know where to start, come for a circus fitness class and you get to try everything! If you've always wanted to try silks or trapeze, sign up for a beginners class.</p>

    <p>Adults from complete newbies to professional performers can have a blast and learn something new here.  No commitment issues – to make everything as accessible as possible, you can enjoy yourself one date at a time in drop-in classes. But when you’re in love, you’re hooked, so you can also buy packs of classes at reduced rates, and/or join one of our programmes.</p>
    
    <p>Youth Circus is for anyone under 18 years old. Classes are booked one term at a time and cover a multitude of circus disciplines to give you a broad range of skills and allow you to discover where your talents lie.</p> 

    <p class="light">If you want to develop your ability or become a professional, come and join one of our part-time or full-time programmes. Check out our new timetable, we'll be adding new classes each month.</p>
    <div class="two spacing"></div>
    <a href="https://goteamup.com/p/3751555-aerial-edge/" target="_blank" class="button small">Book a class</a>
    <div class="three spacing"></div>
  </div>
</div>




<div class='full dark no-padding '>
  <div class="four spacing"></div>
  <div class='row'>
    <div class='large-8 columns'>
      <h3 class="white">Youth circus available for booking</h3>
      <p>
        Youth circus classes with trapeze, silks, hoop, trampoline, acrobatics and juggling available to book now.
      </p>
    </div>
    
    
    <div class='large-4 columns'>
      <p>
        <a class='button small boxed' href='https://goteamup.com/p/3751555-aerial-edge/' target='_blank'>Book Now</a>
      </p>
    </div>
        
  </div>
  <div class='two spacing'></div>
</div>




<a id='works'></a>
<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="take a look" title="Our classes & courses" %}
      <p class="big-size">Welcome to the fun side of life! Aerial Edge is an exciting and safe environment for you to explore a whole world of upside-down joy as you learn some very cool aerial and acrobatic skills. Check out each of the sections below for more details</p>

    </div>
  </div>
</div>


<div class='full no-padding' id="demo-1-works">
  <div class='mod modMasonryGallery'>
    <ul class='gallery'>

      {% for item in page.works %}

        {% assign work = site.works | where:"path",item.path | first %}

        {% if item.style == 'wide' %}
          {% assign class = 'wide' %}
          {% assign width = 1000 %}
          {% assign height = 350 %}
        {% else %}
          {% assign class = '' %}
          {% assign width = 500 %}
          {% assign height = 350 %}
        {% endif %}

        <li class="{{class}}">
          <a href='{{ work.url | relative_url }}'>
            <img width="{{width}}" height="{{height}}" alt="" src="{{ work.thumbnail | relative_url }}" />
            <div class='overlay'>
              <div class='thumb-info'>
                <h3>{{ work.title | downcase | capitalize }}</h3>
                <p>{{ work.categories | join:" & " | escape }}</p>
              </div>
            </div>
          </a>
        </li>

      {% endfor %}

    </ul>
  </div>
</div>














<a id='pricing'></a>
<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      <div class="section-title">
        <p class="small-title">Pricing</p>
        <h2>Class pricing</h2>
      </div>
    </div>
  </div>
</div>

<div class='full no-overflow no-padding'>
  <div class='main-services'>
    {% for item in page.services %}
      <div class='medium-6 large-4 columns'>
        {% include service.html service=item %}
      </div>
    {% endfor %}
  </div>
</div>

<div class='full dark no-padding '>
  <div class="four spacing"></div>
  <div class='row'>
    <div class='large-8 columns'>
      <h3 class="white">Training designed for you.</h3>
      <p>
        Intensive training programmes from customised part-time courses to our full time Foundation Course in Circus Arts.
      </p>
    </div>
    
    
    <div class='large-4 columns'>
      <p>
        <a class='button small boxed' href='https://aerialedge.co.uk/portfolio/intensive-training/' target='_blank'>Learn More</a>
      </p>
    </div>
        
  </div>
  <div class='two spacing'></div>
</div>


<!--
    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Free</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>10 users included</li>
              <li>2 GB of storage</li>
              <li>Email support</li>
              <li>Help center access</li>
            </ul>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Pro</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>20 users included</li>
              <li>10 GB of storage</li>
              <li>Priority email support</li>
              <li>Help center access</li>
            </ul>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Enterprise</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>30 users included</li>
              <li>15 GB of storage</li>
              <li>Phone and email support</li>
              <li>Help center access</li>
            </ul>
          </div>
        </div>
      </div>
-->

<!--
<a id='team'></a>
<div class='full dark-grey'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="The team" title="Hello! This is us." %}
    </div>
  </div>
</div>
<div class="full dark-grey no-padding">
  <div class="members">
    {% for member in page.members %}
      <div class="small-3 columns">
        <div class='member-avatar'>
          <img class="avatar" alt="" src="{{ member.avatar | relative_url }}" />
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<div class="full no-padding team-bg">
  <div class="div member-decs">
    {% for member in page.members %}
      <div class="large-3 columns">
        <div class='member-dec'>
          <div class='intro'>
            <h3>{{ member.name | escape }}</h3>
            <h4>{{ member.position | escape }}</h4>
            <p>{{ member.desc | escape }}</p>
            <ul class='socials'>
              {% for social in member.socials %}
                <li>
                  <a href='{{ social.link }}'>
                    <i class='fa fa-{{ social.icon }}'></i>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="four spacing"></div>
</div>
-->

<!--
<div class="full no-padding">
  <div class='mod modBoxedSlider' data-timeout='1500'>
    <div class='slides'>
      {% for image in page.team_slides %}
        <div class='slide'>
          <img width="1200" height="800" alt="" src="{{ image | relative_url }}" />
        </div>
      {% endfor %}
    </div>
  </div>
</div>
-->

<!--
<div class='full no-overflow no-padding parallax' style="background-image: url({{ "/assets/images/@stock/customers-bg.jpg" | relative_url }})">
  <div class="right-half">
    <div class="two spacing"></div>
    <div class="row">
      <div class="section-header alt white">
        <h2>What our students say</h2>
      </div>
      <div class='mod modTestimonials simple'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items'>
              {% for t in page.testimonials %}
                <div class='item'>
                  <p class='quote'>{{ t.quote }}</p>
                  <div class="two spacing"></div>
                  <div class='author'>
                    <p class='author-avatar'>
                      <img width="80" height="80" alt="" src="{{ t.author.avatar | relative_url }}" />
                    </p>
                    <p class='author-name'>
                      -
                      <strong>{{ t.author.name }}</strong>
                      {%- if t.author.position %}, {{ t.author.position }}{% endif %}
                    </p>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->

<a id='blog'></a>
<div class='full grey'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="latest posts" title="Articles" %}
    </div>
  </div>
</div>
<div class="full grey no-padding no-overflow">
  {% for post in site.posts limit:3 %}
    <div class='large-4 columns'>
      <div class='mod modBlogPost simple'>
        <div class='content'>
          <p class='date'>{{ post.date | date: "%B %d, %Y" }}</p>
          <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
          <div class='spacing'></div>
          <p>
            <a class='button boxed yellow tiny' href='{{ post.url | relative_url }}'>Read more</a>
          </p>
        </div>
      </div>
      <div class="four spacing"></div>
    </div>
  {% endfor %}
      
</div>





<!--

<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="we are happy" title="Featured clients" %}
    </div>
  </div>
</div>
<div class="full no-padding">
  <div class="clients">
    <div class='row'>
      {% for client in page.clients %}
        <div class='large-3 medium-6 small-6 columns'>
          <div class="client">
            <a href="javascript:void(0)"><img alt="" src="{{ client | relative_url }}" /></a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="four spacing"></div>
</div>
-->


<div class="four spacing"></div>
<a id='contact'></a>
{% include contact-form.html %}

{% include social-networks.html %}