---
layout: landing-page
onepage: true
video: true
permalink: /youth-performance/

members:
  - avatar: /assets/images/team/MarkGibson.jpeg
    name: Mark Gibson
    position: Founder & Director
    socials:
      - link: https://www.instagram.com/mark_gibson67/
        icon: instagram
      - link: https://flickr.com/people/mark_gibson/
        icon: flickr
    desc:
      "The founder and Managing Director of Aerial Edge. Mark specialises in teaching and performing static trapeze, cradle, acrobalance and doubles trapeze. Mark studied at The Circus Space in London and teaches and performs internationally"
  - avatar: /assets/images/@stock/member-9.png
    name: Sam McFarlane
    position: Acrobatics
    socials:
      - link: http://twitter.com
        icon: twitter
      - link: http://facebook.com
        icon: facebook
      - link: http://dribbble.com
        icon: web
    desc:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
  - avatar: /assets/images/@stock/member-8.png
    name: Gabriel Stella
    position: Flying Trapeze
    socials:
      - link: http://twitter.com
        icon: twitter
      - link: http://facebook.com
        icon: facebook
      - link: http://tumblr.com
        icon: tumblr
    desc:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
  - avatar: /assets/images/@stock/member-4-4.png
    name: Nea Kunnari
    position: Silks & Rope
    socials:
      - link: http://twitter.com
        icon: twitter
      - link: http://facebook.com
        icon: facebook
    desc:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."

members2:
  - avatar: /assets/images/@stock/member-7.png
    name: Chrissie Ardill
    position: Aerial Hoop
    socials:
      - link: http://twitter.com
        icon: twitter
      - link: http://facebook.com
        icon: facebook
    desc:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
  - avatar: /assets/images/@stock/member-9.png
    name: Michelle Ross
    position: Chinese Pole
    socials:
      - link: http://twitter.com
        icon: twitter
      - link: http://facebook.com
        icon: facebook
      - link: http://dribbble.com
        icon: dribbble
    desc:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
  - avatar: /assets/images/@stock/member-8.png
    name: Ed Muir
    position: Aerial Straps
    socials:
      - link: http://twitter.com
        icon: twitter
      - link: http://facebook.com
        icon: facebook
      - link: http://tumblr.com
        icon: tumblr
    desc:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
  - avatar: /assets/images/@stock/member-4-4.png
    name: Yara Fares
    position: Flow Arts
    socials:
      - link: http://twitter.com
        icon: twitter
      - link: http://facebook.com
        icon: facebook
    desc:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."

team_slides:
  - /assets/images/@stock/slide-full-1.jpg
  - /assets/images/@stock/slide-full-8.jpg
  - /assets/images/@stock/slide-full-10.jpg
  - /assets/images/@stock/slide-full-11.jpg
  - /assets/images/@stock/slide-full-8.jpg


testimonials:
  - quote: "Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est."
    author: 
      name: "David White"
      avatar: '/assets/images/@stock/author-avatar-1.png'
      position: 'Zoologist'
  - quote: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing."
    author: 
      name: "David White"
      avatar: '/assets/images/@stock/author-avatar-2.png'
      position: 'Company Director'
  - quote: "Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est."
    author: 
      name: "David White"
      avatar: '/assets/images/@stock/author-avatar-3.png'
      position: 'Physical Therapist'
---

<div class='full no-padding parallax home-video-wrapper'>
  <div class='fullscreen'>
    <video muted autoplay='autoplay' playsinline id='fullscreen-video' loop='loop'>
      <source src='{{ "/assets/images/videos/YouthCircusPerformProgramme01.mp4" | relative_url }}' type='video/mp4'>
    </video>
    <!-- <video id="fullscreen-video" class="video-js vjs-default-skin vjs-big-play-centered" controls
      preload="auto" data-setup='{}'>
      <source src="/assets/images/@stock/circus-hero.mp4" type='video/mp4'>
    </video> -->
    <div class='overlay'></div>
    <div class='layer'>
      <p class="small-title">Glasgow's circus school </p>
      <h1 class='thin' id="to-be-update">
         <span class="fir">Youth Circus Performance Programme</span><br/>

      </h1>

      <div class="two spacing"></div>
          
      <h2 class='thin'>
       Performing is more than an aerial or acrobatic sequence, and this is where you’ll learn about it, by doing it with mentors. With two ensemble shows a year, you’ll be developing the concept and creating your characters while gaining circus skills that make you shine.
      </h2>
  </div>
</div>
</div>



<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      <div class="section-title">
        <p class="small-title">Youth Circus Performance Programme</p>
        <h2>
          Your Programme
        </h2>
        <p class="big-size"> Learn more with a focus on creating a show </p>
      </div>
      <div class="two spacing"></div>
      <div class='mod modBlogPost big no_bg'>
        <p>This course adds more excitement to your circus classes. You still have all the fun of exploring your movements on the apparatus with friends, just like in a regular Youth Circus class – the bonus is that you progress more. Not because you’re working harder, simply because you are focused on creating the show.</p>
        <p>You’ll collaborate with instructors, a director and other students to come up with characters for solo or duo acts within the show’s theme, in ways that allow your individual traits to shine through.</p>
        <p>You don’t need to come with any pre-made routines, you just need an excitement to perform, play and explore circus equipment.</p>
        <p>You’ll be guided and supported as a group to create acts that come from within yourself and that you are proud to share in the final show.</p>
        <p>You’ll be guided and supported as a group by the directors to create acts that come from within yourself and that you are proud to share in the final show.</p>
        <p>And along the way, you’ll find people that you spark off creatively, people that make you laugh, and people who support you through challenges.</p>
      </div>
    </div>
  </div>
</div>




<div class='full dark no-padding '>
  <div class="four spacing"></div>
  <div class='row'>
    <div class='large-12 columns large-centered'>
      <h3 class="white" align="center">What could you learn on the course?</h3>

    <div class='medium-4 columns'>
      <ul>
        <li>Static Trapeze</li>
        <li>Rope</li>
        <li>Silks</li>
        <li>Aerial hoop</li>
        <li>Straps</li> 
      </ul>
    </div>
    <div class='medium-4 columns'>
      <ul>
        <li>Acrobatics</li>
        <li>Acrobatic balancing</li>
        <li>Handstands</li>
        <li>Dance Acro</li>
        <li>Flow arts</li>
      </ul>
    </div>
    <div class='medium-4 columns'>
      <ul>
        <li>Flexibility</li>
        <li>Performative skills</li>
        <li>Act Creation</li>
        <li>Choreography</li>
        <li>Character creation</li>
        <li>Show story development</li>
      </ul>
    </div>      
  </div>
</div>
<div class='four spacing'></div>
</div>



<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html title="Your Progress" %}
    </div>
  </div>
</div>

<div class='full no-padding'>
  <div class='row'>
    <div class='large-6 columns'>
      <img src="/assets/images/ycp1.jpg">
      
    </div>


    <div class='large-6 columns'>
        <p>This is a course with a specific goal so it has a more structured approach than turning up for regular Youth Circus classes. You’ll still learn in your own way, at your own pace.
        </p>
        <p>The prospect of the show makes you naturally want to improve in technique, and over time you make your acts more complex and challenging.
        </p>
        <p>As you collaborate on the process of creating characters and developing the narrative of the show, you will progress artistically, expressively and performatively.
        </p>
        <p>Aerial Edge Youth Circus students have previously performed in big events like Merchant City Festival and big top circus tents, which is a hugely exciting experience.</p>
         <div class='two spacing'></div>
         <p>Photo credit: Max Crawford</p>
    </div>
    <div class='four spacing'></div>
  </div>
</div>
<div class='four spacing'></div>



<!--

<a id='works'></a>
<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="take a look" title="Our classes & courses" %}
      <p class="big-size">Welcome to the fun side of life! Aerial Edge is an exciting and safe environment for you to explore a whole world of upside-down joy as you learn some very cool aerial and acrobatic skills. Check out each of the sections below for more details</p>

    </div>
  </div>
</div>


<div class='full no-padding' id="demo-1-works">
  <div class='mod modMasonryGallery'>
    <ul class='gallery'>

      {% for item in page.works %}

        {% assign work = site.works | where:"path",item.path | first %}

        {% if item.style == 'wide' %}
          {% assign class = 'wide' %}
          {% assign width = 1000 %}
          {% assign height = 350 %}
        {% else %}
          {% assign class = '' %}
          {% assign width = 500 %}
          {% assign height = 350 %}
        {% endif %}

        <li class="{{class}}">
          <a href='{{ work.url | relative_url }}'>
            <img width="{{width}}" height="{{height}}" alt="" src="{{ work.thumbnail | relative_url }}" />
            <div class='overlay'>
              <div class='thumb-info'>
                <h3>{{ work.title | downcase | capitalize }}</h3>
                <p>{{ work.categories | join:" & " | escape }}</p>
              </div>
            </div>
          </a>
        </li>

      {% endfor %}

    </ul>
  </div>
</div>

-->

<!--

<a id='vouchers'></a>
<div class='full no-padding'>
  <div class="four spacing"></div>
  <div class='row'>
    <div class='large-6 columns'>
      <div class="section-title">
        <h3>
          Gift Vouchers
        </h3>
        <p class="big-size">Give someone the gift of circus with one of our gift vouchers </p>
        
        <img src="{{ "/assets/images/Gift-Voucher.jpg" | relative_url }}" alt="">
      <div class='two spacing'></div>
      <p>
        <a class='button small' href='https://giftup.app/place-order/1eb2d8cf-004a-4a6a-9cb2-627691bf741e?platform=hosted' target='_blank'>Buy a Voucher</a>
        </div>
      </p>
</div>
<div class='large-6 columns'>
      <div class="section-title">
        <h3>
          Aerial Edge Hoodie
        </h3>
        <p class="big-size">Keep someone warm with one of our cozy hoodies </p>
        
        <img src="{{ "/assets/images/Hoodie1.jpg" | relative_url }}" alt="">
      <div class='two spacing'></div>
      <p>
        <a class='button small' href='https://aerialedge.myshopify.com' target='_blank'>Buy a Hoodie</a>
        </div>
      </p>
    </div>
  </div>
</div>

-->


<div class='full no-padding parallax home-video-wrapper'>
  <div class='fullscreen'>
    <video muted autoplay='autoplay' playsinline id='fullscreen-video' loop='loop'>
      <source src='{{ "/assets/images/videos/YouthCircusPerformProgramme02.mp4" | relative_url }}' type='video/mp4'>
    </video>
    <div class='overlay'></div> 
      <div class='layer'>
      <p class="small-title">Who is this course for?</p>
  
      <h2 class='thin'>
       It’s for you if you’re aged 10-18 and enjoy aerial, acrobatics, dance, gymnastics, physical theatre or other physical arts, and can train for 90 minutes on Wednesdays.
      </h2>
      <h2 class='thin'>
        It’s ideal if you want to take your circus skills into a more professional setting one day, if you’re considering a career in circus, or you just want the experience of performing in a directed show.
      </h2>
      <h2 class='thin'>
        We’d also welcome additional input from young people who have an interest in rigging, staging, lighting, audio, costume making and other skills associated with show production. 
      </h2>
      


      
    </div>
  </div>
</div>



<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html title="How does it work?" %}
    </div>
  </div>
</div>

<div class='full no-padding'>
  <div class='row'>
    <div class='large-6 columns'>
      <img src="/assets/images/ycp2.jpg">
      <div class='two spacing'></div>
    </div>
    <div class='large-6 columns'>
      <p>
          You’ll explore your movement style and get technique instruction in a range of aerial and acrobatic arts with some flow and object manipulation. 
        </p> 
        <p>
          Your focus will develop more towards the art that you will perform in the show, and you’ll build your understanding of choreography, characterisation, and what it takes to produce a compelling performance.
        </p>
        <p>
          Everyone arrives with different skill levels – no one is good at everything, everyone has their strengths and challenges. We start with where you are at, and work with you to build towards your personal goals, finding out how you learn best as an individual.  
        </p>
        <p>Performance Programme runs on Wednesdays from 5.30pm until 7pm, with shows in December and in June.</p>
        <p>If you also want to attend the regular Wednesday Youth Circus class from 4.30pm til 6pm, email info@aerialedge.co.uk and we’ll set up a discounted price. </p>

   
    </div>
    <div class='four spacing'></div>
  </div>
</div>
<div class='four spacing'></div>







<div class='full no-padding parallax home-video-wrapper'>
  <div class='fullscreen'>
    <video muted autoplay='autoplay' playsinline id='fullscreen-video' loop='loop'>
      <source src='{{ "/assets/images/videos/YouthCircusPerformProgramme03.mp4" | relative_url }}' type='video/mp4'>
    </video>
    <!-- <video id="fullscreen-video" class="video-js vjs-default-skin vjs-big-play-centered" controls
      preload="auto" data-setup='{}'>
      <source src="/assets/images/@stock/circus-hero.mp4" type='video/mp4'>
    </video> -->
    <div class='overlay'></div> 
      <div class='layer'>
      <p class="small-title">Why Aerial Edge </p>
      
      <h2 class='thin'>
        
       We are the largest circus school in Scotland, established in 2007. As a non-profit Community Interest Company, our core principle is: circus for all regardless of age, size, shape, ability and other factors.   </h2> 
      <h2 class='thin'>
       If you’re just starting your circus journey, or if you’ve already got years of aerial or acrobatics behind you, we’ll make sure you see great progress, and you’ll gain strong foundational abilities in other arts too. 
      </h2>
      <h2 class='thin'>
      You’ll discover how our passion and speciality is developing people through circus – your gains go deeper than learning the arts. We’ll nurture you not just through the physical challenges as you grapple with the techniques, but other pieces of your progression puzzle that arise along the way. </h2>
      <h2 class='thin'>
      We have specialist knowledge to support you to make breakthroughs which have a positive impact on other aspects of your life.</h2>
      
    </div>
  </div>
</div>


<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html title="Our Facilities" %}
    </div>
  </div>
</div>

<div class='full no-padding'>
  <div class='row'>
    <div class='large-6 columns'>
      <p>Aerial Edge has its own warehouse building for training and performance. We’re well known for our flying trapeze and cradle rig, but there are other dedicated areas for ground-based and aerial disciplines. Our space is highly adaptable and able to accommodate nearly any circus discipline, and convert to a fantastic performance stage with a superb sound and lighting set-up.</p>
      <p>You can discover, learn and hone just about any aerial discipline on our rig, and we have safety lines for acrobatic training, teeterboard and tightwire.</p>
            
    </div>
    <div class='large-6 columns'>
      <img src="/assets/images/facilities1.png">
    </div>

    <div class='row'>
      <div class='large-6 columns'>
        <img src="/assets/images/facilities2.png">
      </div>
      <div class='large-6 columns'>
        Our matted floor and tumble track give you the ability to safely train anything from handstands to acrobatic dance and parkour.
        <p>As well as trampoline which can be used for anything from warm-up to wall-running, there’s an act creation and rehearsal space which can be rigged in multiple ways.</p>
        <p>And as if all of that isn’t enough, there’s a café reception area, we’re big into coffee at Aerial Edge so we take great delight in choosing speciality roasts for that fresh bean-to-cup buzz!</p>
        <p>There are also numerous cafés, restaurants and shops within just a few minutes’ walk.</p>
      </div>
    </div>
    <div class='four spacing'></div>
  </div>
</div>
<div class='four spacing'></div>


<!--
<div class='full dark no-padding '>
  <div class="four spacing"></div>
  <div class='row'>
    <div class='large-8 columns'>
      <h3 class="white">Meet our team</h3>
      <p>
        Our team of professional circus teachers will guide you through the course across a wide variety of disciplines
      </p>
    </div>
    <div class='large-4 columns'>

      <p>
        <a class='button small boxed' href='https://aerialedge.co.uk/our-team/' target='_blank'>Learn More</a>
      </p>
    </div>
        
  </div>
  <div class='two spacing'></div>
</div>
-->


<div class='full no-padding parallax home-video-wrapper'>
  <div class='fullscreen'>
    <video muted autoplay='autoplay' playsinline id='fullscreen-video' loop='loop'>
      <source src='{{ "/assets/images/videos/Prospectus-INT02.mp4" | relative_url }}' type='video/mp4'>
    </video>
    <!-- <video id="fullscreen-video" class="video-js vjs-default-skin vjs-big-play-centered" controls
      preload="auto" data-setup='{}'>
      <source src="/assets/images/@stock/circus-hero.mp4" type='video/mp4'>
    </video> -->
    <div class='overlay'></div> 
      <div class='layer'>
      <p class="small-title">What does it cost?</p>
      
      <h2 class='thin'>
       As a non-profit organisation, we price everything as low as possible. Great care and expertise has gone into our course planning, to ensure you get the best personalised experience and outcomes. 
       </h2>   
      <div class='two spacing'></div>
      <p class="small-title">Course Fees</p>
      <h2 class='thin'>
        The Performance Programme monthly membership is the same price as the regular Youth Circus monthly membership – £48. That’s the heavily discounted compared to the drop-in price. There are no drop-ins on Performance Programme, because everything is geared towards producing the show, and everyone will be rehearsing to perform specific roles. 
However, you could set up a membership and try it for a month to see if it’s for you. 
 

      </h2>
      
      
    </div>
  </div>
</div>

<!--

<div class='full dark no-padding '>
  <div class="four spacing"></div>
  <div class='row'>
    <div class='large-12 columns'>
      <h3 class="white">Entry requirements</h3>
      <p>
        Candidates must be 16 or over and be available 10am-5pm Monday to Friday throughout the schedule.
      </p>
    </div>
    
        
  </div>
  <div class='two spacing'></div>
</div>

-->

<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html title="Entry Requirements" %}
    </div>
  </div>
</div>

<div class='full no-padding'>
  <div class='row'>
    <div class='large-12 columns'>
      
      <p>You must be aged 10-18 and be available for classes on Wednesdays from 5.30pm-7pm. Some experience of circus arts, dance, gymnastics, cheerleading, etc can set you up well, as would physical theatre or other types of performance. However, if you join early in the show production cycle, previous experience isn’t necessary.  </p>
      <p>As soon as one show has been performed, the production process for the next one begins. If you join closer to the show date, we’d try to find ways to involve you in the show at whatever level you’re at, if at all possible. </p>
     <div class="two spacing"></div>
     <div style="text-align: center;">
    <a href="https://goteamup.com/p/3751555-aerial-edge/" target="_blank" class="button small">Join now</a>
  </div>
    <div class="three spacing"></div> 
      
    </div>
    <div class='four spacing'></div>
  </div>
</div>
<div class='four spacing'></div>



<!--

<div class='full dark no-padding '>
  <div class="four spacing"></div>
  <div class='row'>
    <div class='large-8 columns'>
      <h3 class="white">Taking care of your body</h3>
      <p>
        Ashley Taylor applies multiple manual therapies including deep tissue massage, myofascial & joint capsule release.
      </p>
    </div>
    
    

    <div class='large-4 columns'>
      <p>
        <a class='button small boxed' href='https://aerialedge.co.uk/services/2023/05/08/these-3-things-help-you-train-safe-&-smart.html' target='_blank'>Learn More</a>

        <a class='button small boxed' href='https://clientportal.powerdiary.com/clientportal/tmat?mc_cid=b044ed23a0&mc_eid=7829a400c2' target='_blank'>Book Therapy</a>
      </p>
    </div>
        
  </div>
  <div class='two spacing'></div>
</div>

-->

<!--
<a id='pricing'></a>
<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      <div class="section-title">
        <p class="small-title">Pricing</p>
        <h2>Class pricing</h2>
      </div>
    </div>
  </div>
</div>

<div class='full no-overflow no-padding'>
  <div class='main-services'>
    {% for item in page.services %}
      <div class='medium-6 large-3 columns'>
        {% include service.html service=item %}
      </div>
    {% endfor %}
  </div>
</div>

<div class='full dark no-padding '>
  <div class="four spacing"></div>
  <div class='row'>
    <div class='large-8 columns'>
      <h3 class="white">Training designed for you.</h3>
      <p>
        We can give you a personalised programme for your unique goals, abilities, time and budget. No charge. 
      </p>
    </div>
    
    
    <div class='large-4 columns'>
      <p>
        <a class='button small boxed' href='https://aerialedge.co.uk/portfolio/intensive-training/' target='_blank'>Learn More</a>
      </p>
    </div>
        
  </div>
  <div class='two spacing'></div>
</div>
-->

<!--
    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Free</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>10 users included</li>
              <li>2 GB of storage</li>
              <li>Email support</li>
              <li>Help center access</li>
            </ul>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Pro</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>20 users included</li>
              <li>10 GB of storage</li>
              <li>Priority email support</li>
              <li>Help center access</li>
            </ul>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Enterprise</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>30 users included</li>
              <li>15 GB of storage</li>
              <li>Phone and email support</li>
              <li>Help center access</li>
            </ul>
          </div>
        </div>
      </div>
-->

<!--
<a id='team'></a>
<div class='full dark-grey'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="The team" title="Hello! This is us." %}
    </div>
  </div>
</div>
<div class="full dark-grey no-padding">
  <div class="members">
    {% for member in page.members %}
      <div class="small-3 columns">
        <div class='member-avatar'>
          <img class="avatar" alt="" src="{{ member.avatar | relative_url }}" />
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<div class="full no-padding team-bg">
  <div class="div member-decs">
    {% for member in page.members %}
      <div class="large-3 columns">
        <div class='member-dec'>
          <div class='intro'>
            <h3>{{ member.name | escape }}</h3>
            <h4>{{ member.position | escape }}</h4>
            <p>{{ member.desc | escape }}</p>
            <ul class='socials'>
              {% for social in member.socials %}
                <li>
                  <a href='{{ social.link }}'>
                    <i class='fa fa-{{ social.icon }}'></i>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
 
</div>

<div class='full dark-grey'>
  <div class='row'>

  </div>
</div>
<div class="full dark-grey no-padding">
  <div class="members">
    {% for member in page.members2 %}
      <div class="small-3 columns">
        <div class='member-avatar'>
          <img class="avatar" alt="" src="{{ member.avatar | relative_url }}" />
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<div class="full no-padding team-bg">
  <div class="div member-decs">
    {% for member in page.members2 %}
      <div class="large-3 columns">
        <div class='member-dec'>
          <div class='intro'>
            <h3>{{ member.name | escape }}</h3>
            <h4>{{ member.position | escape }}</h4>
            <p>{{ member.desc | escape }}</p>
            <ul class='socials'>
              {% for social in member.socials %}
                <li>
                  <a href='{{ social.link }}'>
                    <i class='fa fa-{{ social.icon }}'></i>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="four spacing"></div>
</div>
-->

 <!-- 
<div class="full no-overflow no-padding parallax" style="background-image: url({{ "/assets/images/FC082023.jpg" | relative_url }})">
  <div class="right-half">
    <div class="two spacing"></div>
    <div class="section-header alt white">
      <h2>Entry Requirements</h2>
    </div>
    <p class="light">Candidates must be aged 10-18 and be available for classes on Wednesdays from 5.30pm-7pm throughout the course from August until the show in December, and from January until the show in June. </p>


    <div class="two spacing"></div>
    <a href="https://goteamup.com/p/3751555-aerial-edge/courses/104718/" target="_blank" class="button small">Apply now</a>
    <div class="three spacing"></div>
  </div>
</div>
-->

<!--
<div class='full no-overflow no-padding parallax' style="background-image: url({{ "/assets/images/@stock/customers-bg.jpg" | relative_url }})">
  <div class="right-half">
    <div class="two spacing"></div>
    <div class="row">
      <div class="section-header alt white">
        <h2>What our students say</h2>
      </div>
      <div class='mod modTestimonials simple'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items'>
              {% for t in page.testimonials %}
                <div class='item'>
                  <p class='quote'>{{ t.quote }}</p>
                  <div class="two spacing"></div>
                  <div class='author'>
                    <p class='author-avatar'>
                      <img width="80" height="80" alt="" src="{{ t.author.avatar | relative_url }}" />
                    </p>
                    <p class='author-name'>
                      -
                      <strong>{{ t.author.name }}</strong>
                      {%- if t.author.position %}, {{ t.author.position }}{% endif %}
                    </p>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->


<!--

<div class="full no-padding">
  <div class='mod modBoxedSlider' data-timeout='1500'>
    <div class='slides'>
      {% for image in page.team_slides %}
        <div class='slide'>
          <img width="1200" height="800" alt="" src="{{ image | relative_url }}" />
        </div>
      {% endfor %}
    </div>
  </div>
</div>
-->
<!--
<a id='apply'></a>
<div class='full dark'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="apply" title="Apply Here" %}
    </div>
    <div class='four spacing'></div>
    <div class='large-8 medium-8 columns large-centered'>
 
        <div class='row'>
<div class='large-8 columns large-centered'>
  <p>The application to the 1-Year Professional Development Course is quick and easy. Simply fill in the form and sign up online. This form will take your details and take the deposit payment of £200.</p>
  <p>Feel free to contact us with any questions in advance</p>

    <div class='two spacing'></div>
    <a href="https://form.jotform.com/240934227153049" target="_blank" class="button small">Apply for this course now</a>
    <div class="three spacing"></div>
-->
<!--
    <iframe
      id="JotFormIFrame-240934227153049"
      title="Form"
      onload="window.parent.scrollTo(0,0)"
      allowtransparency="true"
      allow="geolocation; microphone; camera; fullscreen"
      src="https://form.jotform.com/240934227153049"
      frameborder="0"
      style="min-width:100%;max-width:100%;height:539px;border:none;"
      scrolling="no"
    >
    </iframe>
    <script src='https://form.jotform.com/s/umd/latest/for-form-embed-handler.js'></script>
    <script>window.jotformEmbedHandler("iframe[id='JotFormIFrame-240934227153049'", "https://form.jotform.com/")</script>
-->    
<!--
<a href="https://formkeep.com/p/094ae07aff981a441450c6f389589d5b" target="_blank" class="button small">Click here to submit your application</a>
-->

</div>

</div>
</div>
</div>
</div>
</div>


<!--

<a id='blog'></a>
<div class='full grey'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="latest posts" title="Articles" %}
    </div>
  </div>
</div>
<div class="full grey no-padding no-overflow">
  {% for post in site.posts limit:3 %}
    <div class='large-4 columns'>
      <div class='mod modBlogPost simple'>
        <div class='content'>
          <p class='date'>{{ post.date | date: "%B %d, %Y" }}</p>
          <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
          <div class='spacing'></div>
          <p>
            <a class='button boxed yellow tiny' href='{{ post.url | relative_url }}'>Read more</a>
          </p>
        </div>
      </div>
      <div class="four spacing"></div>
    </div>
  {% endfor %}
      
</div>

-->



<!--

<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="we are happy" title="Featured clients" %}
    </div>
  </div>
</div>
<div class="full no-padding">
  <div class="clients">
    <div class='row'>
      {% for client in page.clients %}
        <div class='large-3 medium-6 small-6 columns'>
          <div class="client">
            <a href="javascript:void(0)"><img alt="" src="{{ client | relative_url }}" /></a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="four spacing"></div>
</div>
-->


<!--

{% include social-networks.html %}
-->
