<div class='full dark'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="contact" title="Let's talk" %}
    </div>
    <div class='four spacing'></div>
    <div class='large-8 medium-8 columns'>
      <div class='form'>
        <div class='row'>
          <!-- <form id='contact_form' class='dark' method='POST'> -->
          
            <div class='medium-8 columns'>
              <!-- Begin Mailchimp Signup Form -->
              <div id="mc_embed_signup">
                <form action="https://aerialedge.us2.list-manage.com/subscribe/post?u=d528f0d88abac6f11dd849304&amp;id=b34769d28c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                  <h2>Get the latest news</h2>
                  <p>We'll send you news on our classes, events and programmes</p>
                <div class="mc-field-group">
                  <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                </label>
                  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                </div>
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d528f0d88abac6f11dd849304_b34769d28c" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                    </div>
                </form>
              </div>
            <!--End mc_embed_signup-->
            </div>
          <!-- </form> -->
        </div>
      </div>
      <div class='four spacing'></div>
    </div>
    <div class='large-4 medium-4 columns'>
      <div class='border-wrapper'>
        <div class='borders'>
          <div class='top'></div>
          <div class='right'></div>
          <div class='bottom'></div>
          <div class='left'></div>
        </div>
        <div class='contact-details'>
          <div class='content'>
            <h4>Address:</h4>
            <p>Unit 12, Edmiston Trade Park, 240 Edmiston Drive, Glasgow, G51 2YU, UK</p>
            <h4>Email:</h4>
            <p>info@aerialedge.co.uk</p>
            <h4>WhatsApp:</h4>
            <p>(+44) 07360 546 232 (Messages only)</p>
          </div>
        </div>
      </div>
      <div class='four spacing'></div>
    </div>

    

  </div>



  </div>
</div>